// Font Variables
$font1: 'open sans';
$font2: 'helevtica';
$font3: 'sans serif';

$title1: 'bitter';
$title2: 'georgia';
$title3: 'serif';

// heading1 is 800 and 24px
$weight: 300, 400, 600, 400, 600, 800;
$size: 14px, 16px, 16px, 18px, 20px, 24px;

$titleWeight: 700;
$titleSize: 16px;

$btnWeight: 600;
$btnSize: 18px;
