// URL Variables
$bgimage: url('../images/businesspeople-blur.jpg');
$user: url('../images/user-regular.svg');
$key: url('../images/key-solid.svg');
$closebtn: url('../images/closebtn.svg');
$searchicon: url('../images/searchicon-gray.svg');
